@import "tailwindcss";

@theme {
  --color-LIME: #cef739;
  --color-DARK-LIME: #283300;
  --color-TEXT-COLOR: #fff;
  --color-LIGHT: #c6c6c6;
  --color-FADED: #9d9d9d;
  --color-NORMAL: #2e2e2e;
  --color-MEDIUM: #202022;
  --color-DARK: #171719;
  --color-BGCOLOR: #0a0a0a;
  --color-GREEN: #42eb05;
  --color-LIME: #cef739;
  --color-DARK-LIME: #283300;
  --color-RED: #ff4141;
  --color-LIGHT-BORDER-COLOR: #3d3d3d;
  --font-FF: "JetBrains Mono", monospace;
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.ticker-item {
  @apply border-r-NORMAL flex w-max animate-[ticker_30s_linear_infinite] items-center justify-center gap-2.5 border-r px-3 py-3 text-[10px] md:px-3 md:text-[12px];
}
